{% assign product = all_products[section.settings.product] %}

<div class="product-box">
  <div class="inner-img-box">
    <div class="main-img-wrapper">
      <button class="arrow left">‹
      </button>
      <img
        src="{{ product.featured_image |  image_url: width: 500 }}"
        alt="{{product.title}}"
        class="main-img"
        id="main-product-image"
        data-full="{{product.featured_image |  image_url: width: 500 }}">
      <button class="arrow right">›</button>
    </div>
    <div
      class="img-box"
      data-slides="{{section.settings.slides_per_view}}"
      data-space="{{section.settings.space_between}}"
      data-arrows="{{section.settings.show_arrows}}"
      data-pagination="{{section.settings.show_pagination}}">
      <ul class="img-list">
        {% for image in product.images limit: 10 %}
          {% unless image == product.featured_image %}
            <li>
              <img
                src="{{image |  image_url: width: 150 }}"
                alt=""
                class="list-img"
                data-full="{{image |  image_url: width: 500 }}">
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="info-box">
    <h1 class="product-text">{{ product.title }}</h1>
    <p class="product-price" id="productPrice">{{ product.selected_or_first_available_variant.price | money_with_currency }}</p>
    <form action="/cart/add" method="post">
      <input
        type="hidden"
        name="id"
        id="variant-id"
        value="{{product.selected_or_first_available_variant.id}}">

      <div class="info-color-box">
        {% for variant in product.variants %}
          {% assign color = variant.option1 %}
          {% if variant.image %}
            <div
              class="color"
              style="background: {{color |  downcase}}"
              data-img="{{variant.image | image_url}}"
              data-title="{{variant.title}}"
              data-variant-id="{{variant.id}}"
              data-price="{{variant.price |  money_with_currency}}"></div>
          {% endif %}
        {% endfor %}
      </div>
      <p class="text-color" id="variantTitle">Color:
        <span>{{ product.selected_or_first_available_variant.option1 }}</span>
      </p>
      <button type="submit" class="product-btn">Add to cart</button>
    </form>
    <p class="product-description">{{ product.description }}</p>


    <div class="accordion-item">
      <div class="accordion-header">
        <button class="">Fabric Color</button>
        <i class="ri-arrow-down-s-line"></i>
      </div>
      {% assign fabric_color_raw = product.metafields.custom.fabric_color %}
      {% assign fabric_colors = fabric_color_raw | split: '\n' %}
      {% if fabric_color_raw != blank %}
        <div class="accordion-content">
          <ul class="accordion-list">
            {% for color in fabric_colors %}
              <li>{{ color | strip }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    <div class="accordion-item">
      <div class="accordion-header">
        <button class="">Age Group</button>
        <i class="ri-arrow-down-s-line"></i>
      </div>
      {% assign age_group = product.metafields.custom.age %}
      {% assign groups = age_group | split: '\n' %}
      {% if age_group != blank %}
        <div class="accordion-content">
          <ul class="accordion-list">
            {% for age in groups %}
              <li>{{ age | strip }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    <div class="accordion-item">
      <div class="accordion-header">
        <button class="">Skill level</button>
        <i class="ri-arrow-down-s-line"></i>
      </div>
      {% assign skill_level = product.metafields.custom.skill %}
      {% assign skills = skill_level | split: '\n' %}
      {% if skill_level != blank %}
        <div class="accordion-content">
          <ul class="accordion-list">
            {% for skill in skills %}
              <li>{{ skill | strip }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>{% schema %}
{
  "name": "Product Feature",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Выбери товар"
    },
    {
      "type": "range",
      "id": "slides_per_view",
      "label": "Слайдов на экране",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "space_between",
      "label": "Отспут между слайдами (px)",
      "min": 0,
      "max": 50,
      "step": 2,
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Показать стрелки",
      "default": true
    }, {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Показать пагинацию",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Product Feature"
    }
  ]
}{% endschema %}