{% assign product = all_products[section.settings.product] %}

<div class="product-box">
  <div class="inner-img-box">
    <div class="main-img-wrapper">
      <button class="arrow left">‹
      </button>
    <img src="{{ product.featured_image |  image_url: width: 500 }}" alt="{{product.title}}" class="main-img" id="main-product-image"
    data-full="{{product.featured_image |  image_url: width: 500 }}">
    <button class="arrow right">›</button>
    </div>
    <div class="img-box" 
    data-slides="{{section.settings.slides_per_view}}"
    data-space="{{section.settings.space_between}}"
    data-arrows="{{section.settings.show_arrows}}"
    data-pagination="{{section.settings.show_pagination}}">
      <ul class="img-list">
        {% for image in product.images limit: 10 %}
          {% unless image == product.featured_image %}
          <li>
            <img src="{{image |  image_url: width: 150 }}" alt="" class="list-img" data-full="{{image |  image_url: width: 500 }}">
          </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="info-box">
    <h1 class="product-text">{{product.title}}</h1>
    <p class="product-price" id="productPrice">{{product.selected_or_first_available_variant.price |  money_with_currency}}</p>
    <form action="/cart/add" method="post">
    <input type="hidden" name="id" id="variant-id" value="{{product.selected_or_first_available_variant.id}}">
    
    <div class="info-color-box">
      {% for variant in product.variants %}
        {%  assign color = variant.option1 %}
        {% if variant.image %}
      <div class="color"
       style="background: {{color |  downcase}}" 
       data-img="{{variant.image | image_url}}" 
       data-title="{{variant.title}}"
       data-variant-id="{{variant.id}}"
       data-price="{{variant.price |  money_with_currency}}">
       </div>
        {% endif %}
      {%endfor%}
    </div>
    <p class="text-color" id="variantTitle">Color: <span>{{ product.selected_or_first_available_variant.option1 }}</span></p>
    <button type="submit" class="product-btn">Add to cart</button>
    </form>
    <p class="product-description">{{product.description}}</p>

    {% assign age_group = product.metafields.category.age_group.value %}
    {% if age_group %}
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-header">
        <button class="">Age Group</button>
        <i class="ri-arrow-down-s-line"></i>
        </div>
      <div class="accordion-content">
        <ul class="accordion-list">
          {% for item in age_group %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
      </div>
      </div>
     {% endif %}

      <div class="accordion-item">
        <div class="accordion-header">
        <button class="">Skill Level</button>
        <i class="ri-arrow-down-s-line"></i>
        </div>
      <div class="accordion-content">
        <ul class="accordion-list">
          <li>Intermediate</li>
          <li>Expert</li>
          <li>Beginner</li>
        </ul>
      </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header">
        <button class="">Snowboarding Style</button>
        <i class="ri-arrow-down-s-line"></i>
        </div>
      <div class="accordion-content">
        <ul class="accordion-list">
          <li>Race snowboarding</li>
          <li>All-mountain</li>
        </ul>
      </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header">
        <button class="">Snowboarding Design</button>
        <i class="ri-arrow-down-s-line"></i>
        </div>
      <div class="accordion-content">
        <ul class="accordion-list">
          <li>Directional</li>
          <li>Twin tip</li>
          <li>Tapered</li>
          <li>Directional Twin</li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Feature",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Выбери товар"
    },
    {
      "type": "range",
      "id": "slides_per_view",
      "label": "Слайдов на экране",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "space_between",
      "label": "Отспут между слайдами (px)",
      "min": 0,
      "max": 50,
      "step": 2,
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Показать стрелки",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Показать пагинацию",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Product Feature"
    }
  ]
}
{% endschema %}